body{
    background-image:url(imgs/backgroundimg.jpg);
    background-repeat:repeat-y;
    background-position:top;
    border:none;
    background-size:cover;
}
.dwoppywoppy{
    display:inline;
    position:relative;
}

.prompt{
    color:black;
    font:small;
    font-family:'Comic Sans MS';
}
.pliotitle{
    position:center;
    font:bold;
    font-family:'Comic Sans MS';
}
