body{
    background-image:url(imgs/backgroundimg.jpg);
    background-repeat:repeat-y;
    background-position:top;
    border:none;
    background-size:cover;
}
.dwoppywoppy{
    display:inline;
    position:relative;
}

.prompt{
    color:black;
    font:small;
    font-family:'Comic Sans MS';
}
.pliotitle{
    text-align:center;
    font:bold;
    font-size:80px;
    font-family:'Copperplate Gothic';
}
.pliotext{
    font-size:medium;  
    font-family:    
}
nav{
    border:10px transparent 5px;
}
.prompt:hover{
    opacity:0.5;
}
