body{
    background-image:url(imgs/backgroundimg.jpg);
    background-repeat:repeat-y;
    background-position:top;
    border:none;
    background-size:cover;
}
.prompt{
    color:black;
    font:small;
    flex:auto;
    font-family:'Comic Sans MS';
}
.pliotitle{
    text-align:center;
    font:bold;
    font-size:80px;
    font-family:'Copperplate Gothic';
    -webkit-text-stroke:white;
    -webkit-text-stroke-width:2px;
}
.pliotext{
    font-size:medium;  
    font-family: "Microsoft Sans Serif";    
}
nav{
    border:10px transparent 5px;
    align-items:center;
}
#locations, #characters{
    position:relative;
    display:inline-block;
}
.characters, .locations {
    display:none;
    position:absolute;
    background-color: black;
    background-size:inherit;
    opacity: 0.8;
    box-shadow:inset 5px;
    padding:initial;
    z-index:auto;
}
.characters a, .locations a {
    color:aliceblue;
    text-decoration:none;
}
#characters:hover .characters, #locations:hover .locations{
    display:block;
}
.title_logo{
    max-height:400px;
}
.pliossing_my_pants{
    text-align:center;
}
#cum {
    text-align:center;
}